
.App {
  font-family: sans-serif;
  text-align: center;
  
}

.paraStyle {
  margin: 0 auto;
  width: 500px;
  text-align: justify;
}

.btnStyle {
  background-color: navy;
  border: none;
  color: white;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-radius: 5px;
}
.btnStyle:hover {
  background-color: blue;
  cursor: pointer;
}